.users {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
}

    .users ul {
        padding: 1rem;
        list-style: none;
    }

        .users li {
            padding: 0.5rem;
            margin: 0.5rem 0;
            border: 1px solid #ccc;
        }